<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Iris</title>
</head>

<body>
    <div class="container px-4">
        <div class="container px-4">
            <br>
            <h2>Iris dataset</h2>
            <div class="mb-3 border rounded" style='padding: 5px;'>
                <!--        MOSTRAR RESULTADOS      -->
                <form method="post" action="{{url_for('procesar')}}">             
                    <h3>{{ column }}</h3>
                    <div class="mb-3 border rounded" style='padding: 5px;'>
                        <div class='row'>
                            <div class="col">
                                <label for="min_f" class='form-label'>Min</label>
                                <input class="form-control" type="text" value='{{min_f}}' disabled readonly>
                            </div>

                            <div class="col">
                                <label for="max_f" class='form-label'>Max</label>
                                <input class="form-control" type="text" value='{{max_f}}' disabled readonly>
                            </div>
                            
                            <div class="col">
                                <label for="sd_f" class='form-label'>Std</label>
                                <input class="form-control" type="text" value='{{sd_f}}' disabled readonly>
                            </div>
                            
                            <div class="col">
                                <label for="mean_f" class='form-label'>Mean</label>
                                <input class="form-control" type="text" value='{{mean_f}}' disabled readonly>
                            </div>
                        </div>
                        <br>

                        <!--        MOSTRAR FIGURA      -->
                        <div class="container-fluid">
                            <h4>Plot column: {{ column }}</h4>
                            <img src="static/plot.jpg" class="rounded mx-auto d-block" alt="plot">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    
</body>
</html>